.DS_Store
.vscode
docs/out
docs/tmp
docs/*.aux
docs/*.aux
docs/*.bcf
docs/*.lof
docs/*.log
docs/*.lot
docs/*.out
docs/*.run.xml
docs/*.synctex.gz
docs/impedance_control.pdf

docs/*.toc

docs/_corrections
.directory

**/.directory
**/latexmkrc
**/.ipynb_checkpoints

*.bkp
*.dtmp


# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
**/*.mex*

# Packaged app and toolbox files
**/*.mlappinstall
**/*.mltbx

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

.venv
.idea

.metadata/
.settings/
*.ld
*.launch
[Rr]elease
[Dd]ebug